## INSTALL system requirements

# ===============================
## related to R 

sudo apt-get install libcairo2-dev
sudo apt-get install libnode-dev
sudo apt-get install libssl-dev 
sudo apt-get install libcurl4-openssl-dev
sudo apt-get install libxml2-dev

# =================================
## related to NATMI (python ligand-rec network)
## (always in conda environement)

pip install python-igraph
sudo apt-get install graphviz graphviz-dev
pip install pygraphviz
pip install holoviews

